{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
</head>
<body>
    <div class="container">
        <form method="post" class="loginform justify-content-center align-items-center">
            {% csrf_token %}
            
            {% for f in form %}
                {{ f }}
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit" >Войти</button>
            <div class="form-error">{{ form.non_field_errors }}</div>
            <br>
            <a href="{% url 'register' %}">Регистрация</a>
            <br>
            <a href="{% url 'home' %}">На главную</a>
            {% block content %}{% endblock %}
        </form>
    </div>
</body>
</html>