{% extends 'profession/base.html' %}
{% load static %}

{% block content %}
<center><h1> {{title}} </h1></center>
<center><img src="{% static 'profession/images/timlid.png'%}" alt=""></center>
<h2> Руководитель ИТ-проектов </h2>
<p>Менеджер проекта — это тот, кто отвечает за успешную реализацию идеи или задачи силами одной или нескольких команд, внутренних и/или внешних, в рамках бюджета и в установленные сроки. Для этого он организует работу команды, управляет ею — определяет цели, делегирует полномочия, взаимодействует с другими командами, заказчиками и подрядчиками.</p>
<h3>Суть работы </h3>
<p>Цель работы менеджера проекта — выполнить задачу в срок. Для этого ему нужно собрать все требования заказчиков внутри компании и за ее пределами, проанализировать их, адаптировать и донести до членов своей команды так, чтобы они стали понятными и выполнимыми. Именно поэтому одной из основных функций проектного менеджера становится постоянное взаимодействие со всеми — заказчиками, подрядчиками, руководством, коллегами и командой.
Для реализации проекта необходимы постановка задачи, распределение ресурсов, делегирование, мотивация, контроль и отчетность. Менеджер проекта постоянно должен следить за соблюдением сроков выполнения всех этапов, управляя бюджетом и проектно-техническим документооборотом. Это значит, что в рамках проекта есть универсальный руководитель, который начинает проект с нуля и сдает его под ключ, — менеджер проекта.
</p>
<h4>Карьерные возможности</h4>
<p>Многие компании при поиске менеджера проекта ориентируются на то, чтобы предыдущий опыт специалиста был связан с IT-сферой, идеально — максимально близок к разработке. Это могут быть как разработчики, которые дополнительно выполняли функцию Scrum Master внутри команды или курировали разработку отдельных элементов, так и Team Lead команды разработки.</p>
<h5>Средняя зарплата в Москве и Санкт-Петербурге</h5>
<p>Сейчас проектные менеджеры в крупных компаниях в Санкт-Петербурге могут рассчитывать на заработную плату от 120 до 300 тысяч рублей гросс. Средняя зарплата — около 200 тысяч рублей ежемесячно. В Москве заработные платы менеджеров проекта чуть выше. Здесь такие специалисты могут претендовать на вознаграждение от 150 до 350 тысяч рублей гросс, а средняя зарплата сейчас находится на уровне 250 тысяч рублей.
Необходимо сказать, что менеджер проекта сегодня — одна из самых востребованных профессий не только в России, но и во всем мире. При этом работодатели все чаще хотят видеть максимальное соответствие кандидата требованиям. А это значит, что, рассчитывая на хорошую зарплату, профессионалам нужно продемонстрировать навыки, компетенции и пользу, которую они смогут принести реализуемым проектам и компании в целом.
По нашим прогнозам, в ближайшие годы спрос на проектных менеджеров в ИТ-сфере будет расти, поэтому у всех, кто планирует делать себе карьеру в этом направлении, есть возможность получить необходимое образование, закончить курсы, повысить свою квалификацию и начать искать себе работу мечты
</p>
{% endblock %}
